/* CSS BLOGS -  TABLA DE CONTENIDOS */
#contenido {
	padding:0;
}
h4.cabecera_compartir {
	left:0;
	top:0;
}
#tamano {
	font-size:14px;
	line-height:20px;
}
.col_02 {
	clear:none !important;
	float:right;
}
#contenido_secundario {
	width:300px;
}
#contenido_secundario .modulo {
	padding:10px;
	width:278px;
	margin-left:0px;
	background:#F4F4F4 none repeat scroll 0 0;
	border:1px solid #EEEEEE;
}
#comentarios {
	border-top:3px solid #A7C826 !important;
	clear:both;
	margin:0 0 10px;
}
.modulo_blog {
	width: 300px;
	background:#666;
}
a:hover {
	color:#90AF20;
}
.foto a:hover img {
	opacity:0.9;
}
.foto p {
	font-size:11px!important;
	background:#333;
}
.sumario {
	border-bottom:3px solid #9BBD20;
}
#blogs .wrap {
	position:relative;
}
.cabecera_blog {
	/*background:url(http://estaticos02.elmundo.es/elmundo/iconos/v4.x/v4.01/blogs/cabecera_blog.jpg) no-repeat top left;
	border-bottom:3px solid #A7C826;*/
	clear:both;
	left:0;
	position:relative;
	top:0;
	width:645px;
	margin:0 0 20px;
	z-index:2;
}
.cabecera_blog h2 {
	float:left;
	width:100%;
	font: normal 38px/normal Georgia, "Times New Roman", Times, serif;
	width:645px;
	margin:15px 0 0 0;
	padding:0 0 5px;
	position:relative;
}
.cabecera_blog p {
	border:0 none;
	display:block;
}
.cabecera_blog p a {
	display:none;
}
.cabecera_blog a {
	border:0 none;
	color:#035A89;
	display:block;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:38px;
	font-weight:normal;
	display:block;
	width:645px;
}
.categoria_blog a {
	text-indent:-9999px;
	display:none;
}
#contenido_principal {
	margin:0;
	position:relative;
	clear:both;
}
.col_01 {
	padding-bottom:20px;
}
.col_01 .post {
	background:transparent url(http://estaticos03.elmundo.es/elmundo/iconos/v4.x/v4.01/blogs/bg_post.png) no-repeat scroll -2px 0;
	clear:both;
	position:relative;
	float:left;
	display:inline;
	width:640px;
	margin-bottom:10px;
	margin-left:-11px;
	padding:12px 0 0 20px;
}
.col_01 .post h4 {
	background: none;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:26px;
	font-weight:normal !important;
	line-height:normal;
	margin-bottom:0 !important;
	padding:0 15px;
	margin-top:20px;
	line-height:24px;
}
.col_01 .post h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:26px;
	font-weight:normal;
	line-height:34px;
	margin-top:8px;
}
.col_01 .post_02 {
	background:none;
}
.col_01 .post_02 h5 {
	width:400px;
	padding:15px 0 0 0;
}
.col_01 .post_02 ul {
	clear:both;
	overflow:hidden;
	float:left;
	width:640px;
}
.col_01 .post_02 li {
	border:1px solid #DDE1E5;
	padding:10px 10px 5px 10px;
	margin:0 0 5px 0;
	background:url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/bg_modulo_opinion.png) repeat-x top left;
}
.col_01 .post_02 li p {
	background:transparent url(http://estaticos03.elmundo.es/elmundo/iconos/v3.0/bolillos/bolillo.gif) no-repeat scroll 0 1px;
	padding-left:20px;
}
.col_01 .post_02 li a {
	font-weight:bold;
	border-bottom:0;
	font-size:14px;
}
.col_01 .post_02 li span {
	color:#999999;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	font-style:normal;
}
.contenido_noticia_01_post {
	float:right;
	width:470px;
	margin-top:15px;
}
.contenido_noticia_02_post {
	float:left;
	width:150px;
	/*padding-top:55px;*/
	margin-top:65px;
}
.fecha_blog {
	position:absolute;
	top:18px;
	left:15px;
	height:48px;
	width:150px;
}
.fecha_blog .dia {
	color:#CCCCCC;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:52px;
	left:0;
	letter-spacing:-5px;
	line-height:81px;
	position:absolute;
	top:-18px;
	width:auto;
}
.fecha_blog .mes {
	font-size:18px;
	line-height:20px;
	color:#666;
	width:auto;
	position:absolute;
	top:10px;
	left:60px;
}
.fecha_blog .anio {
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	color:#ccc;
	width:auto;
	position:absolute;
	top:28px;
	left:60px;
}
.fecha_blog .hora {
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	width:auto;
	position:absolute;
	top:12px;
	right:0;
	color:#A7C826;
	border-left:1px dashed #DDE1E5;
	padding:18px 0 0 5px;
}
.comentarios_post {
	background:url(http://estaticos02.elmundo.es/elmundo/iconos/v4.x/v4.01/blogs/bg_comments.png) no-repeat top left;
	padding:7px 10px 8px 25px;
	margin:5px 0;
	font-weight:bold;
}
.col_01 .firma_blog {
	text-align:left;
	border-top:1px dashed #ccc;
	border-bottom:1px dashed #ccc;
	clear:both;
	padding:10px 0;
}
.col_01 .firma_blog img {
	border:1px solid #035A89;
	display:inline;
	margin-bottom:10px;
}
#desarrollo_noticia {
	clear:both;
	overflow:hidden;
	width:470px;
}
#desarrollo_noticia img {
	float:left;
	margin:5px 15px 5px 0;
}
.portadilla_blogs #desarrollo_noticia {
	border:none;
}
.nav_herramientas {
	margin:0 0 15px;
}
.col_01 .post .nav_herramientas .compartir h4 {
	background:transparent url(http://estaticos03.elmundo.es/elmundo/iconos/v3.0/b_compartir.png) no-repeat scroll 0 -40px;
	border:0 none;
	font-size:11px;
	color:#888888;
	font-weight:normal;
	height:18px;
	margin:0;
	padding:2px 0 0 22px !important;
	text-transform:none;
	width:auto !important;
}
/*******************     NAVEGACIÓN BLOGS     *********************/

.nav_blog {
	margin:0;
	padding:0;
	width:auto;
	clear:both;
	text-align:right;
	float:none;
}
.nav_blog li {
	font-size:11px;
	padding:0;
	display:inline;
	float:none;
}
.nav_blog li a {
	display:inline;
	font-weight:normal;
	color:#999;
	padding:0 10px;
}
.nav_blog li a:hover {
	color:#666;
}
.nav_blog li.paginas {
	border-left:1px solid #E0E5E7;
	border-right:1px solid #E0E5E7;
	padding:0 10px;
	color:#E0E5E7;
}
.nav_blog li.paginas a {
	padding:0;
}
/*******************     NAVEGACIÓN BLOGS      *********************/

.col_01 .first_child h4 {
	font-size:32px;
	line-height:30px;
}
.last_child {
	border-bottom:1px dashed #E0E5E7;
}
.portadilla_blogs .post .firma_blog {
	border-top:0;
	border-bottom:0;
}
.blog_autor .contenido_noticia_01_post {
	margin-top:0;
}
.blog_autor .contenido_noticia_02_post {
	padding-top:0;
}
.blog_autor .contenido_noticia_02_post h4 {
	font-size:24px;
	line-height:24px;
	margin:18px 0 0 0;
	padding-bottom:5px;
}
/************************** COL_02 ***********************************/

#blogs .col_02 {
	position:relative;
	width:302px;
	margin: 0 ;
}
#blogs.portadilla .col_02 {
	margin-top:10px;
	width:165px;
}
.col_02 h4 {
	text-indent:-9999px;
	height:1px;
	line-height:0;
}
.col_02 .firma_blog {
	background:#F4F4F4 none repeat scroll 0 0;
	border:1px solid #EEEEEE;
	clear:both;
	margin: 0 0 10px;
	overflow:hidden;
	padding:10px;
	position:relative;
	width:278px;
	color:#3F5974;
}
.col_02 .firma_blog li {
	padding:5px 0;
	display:block;
	float:left;
	width:275px;
}
.col_02 .firma_blog li p {
	font-size:11px;
}
.col_02 .firma_blog li.last_child {
	border-bottom:none;
}
.col_02 .firma_blog .foto {
	border:1px solid #E0E5E7;
	float:left;
	margin:0 10px 0 0;
}
.firma_blog h4 {
	display:none;
}
.metadata_blog {
	background:#f4f4f4 none repeat scroll 0 0;
	border:1px solid #EEE;
	clear:both;
	float:right;
	margin:0 0 10px 0;
	padding:10px;
	width:278px;
}
.metadata_blog li {
	clear:both;
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	padding:10px 0;
	text-align:left;
	overflow:hidden;
}
.metadata_blog li.last_child {
	border-bottom:none;
}
.media .foto, .media .link, .media .video, .media .auto {
	margin-bottom:5px;
}
.media .foto {
	width:300px;
	height:auto;
	clear:both;
	overflow:hidden;
	margin-left:0;
}
.media .foto img {
	width:215px;
}
.media .foto a {
	display:block;
	width:75%;
	float:left;
}
.media .video div {
	text-align:center;
	padding:0;
}
.media .foto p, .media .video p {
	background:#fff;
	color:#666 !important;
	font-size:12px;
	margin-right:0;
	opacity:1;
	padding:8px;
	position:relative;
	left:2px;
	width:253px;
	border-bottom:0;
}
.media h5 {
	font-family:Georgia, "Times New Roman", Times, serif;
}
.media .link {
	background:#fff;
	border:1px solid #E0E5E7;
	padding:8px;
	color:#035A89;
}
.media .link a {
	font-weight:bold;
	border-bottom:1px solid #E0E5E7;
}
.media .link span {
	font-size:11px;
	color:#999;
	font-style:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#archivo {
	width:275px;
	clear:both;
	overflow:hidden;
	float:right;
	padding:12px;
	border:1px solid #E0E5E7;
	margin:0 0 10px;
}
#archivo h5, .modulo_blogs h5 {
	font-family:Georgia, "Times New Roman", Times, serif;
}
#archivo li.modulo {
	margin-bottom:0;
}
#archivo .modulo {
	float:left;
	position:relative;
	width:255px;
	margin-left:0;
}
#archivo h6 {
	font:bold 16px/16px Georgia, "Times New Roman", Times, serif;
	margin:0 0 10px 0;
	text-transform:uppercase;
	width:255px;
	background:#fff url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/bg_modulo_opinion.png) repeat-x left top;
}
#archivo h6 .despliega {
	background:transparent url(http://estaticos02.elmundo.es/elmundo/iconos/v3.0/acordeon/pico.gif) no-repeat scroll 4px -18px;
	color:#8093A1;
	cursor:pointer;
	display:block;
	height:22px;
	padding:6px 0 0 15px;
	border:1px solid #E0E5E7;
	margin:0 0 10px;
}
#archivo h6 .despliega.seleccionado {
	background-position:11px 12px;
}
#archivo h6 a:hover {
	color:#9BBD20;
}
#archivo .modulo li {
	position:relative;
}
#archivo .modulo_contenido ol {
	padding:0 0 0 10px;
}
#archivo .archivo_mes {
	margin-bottom:5px;
	font-size:11px;
}
#archivo .archivo_mes .despliega {
	background:none;
	height:auto;
	padding:0;
}
#archivo .archivo_mes a {
	padding-left:15px;
	border-bottom:none;
	font:bold 11px/18px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
#archivo .archivo_mes ul {
	padding:0;
	margin:0;
}
#archivo .archivo_mes ul li {
	display:block;
	margin:4px 0;
	padding:0;
}
#archivo .archivo_mes ul li a {
	font-weight:normal;
	font-size:12px;
	line-height:18px;
	padding:2px 0;
	border-bottom:1px solid #E0E5E7;
	text-transform: none;
}
#archivo .archivo_mes ul li a:hover {
	color:#9BBD20;
}
/*******************     ARCHIVO      *********************/



/*******************     INDEX BLOGS     *********************/



.contenido_plantilla {
	border-top:1px solid #E0E5E7;
	border-right:1px solid #E0E5E7;
	border-bottom:1px solid #E0E5E7;
	padding:0;
	margin-top:10px;
	width:803px;
	clear:both;
	overflow:hidden;
}
.cabecera_blog_categoria {
	text-indent:-9999px;
	width:780px;
	height:0;
	line-height:0;
	float:left;
}
.categoria {
	float:left;
	width:800px;
	padding:10px 10px 160px 10px;
	background: url(http://estaticos02.elmundo.es/elmundo/iconos/v4.x/v4.01/blogs/categoria/index/bg_categoria.png) repeat-x 0 0;
}
.categoria li {
	background:#fff;
	height:230px;
	border:1px solid #E0E5E7;
	padding:10px;
	width:168px;
	margin-right:8px;
	float:left;
	clear:none!important;
}
.categoria li h4 {
	border:0;
	margin:0;
	padding:0 0 5px 0;
	font-size:16px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:18px;
	border-bottom:1px solid #E0E5E7;
}
.categoria li h5 .autor {
	font:normal 11px/16px Georgia, "Times New Roman", Times, serif;
	display:block;
	margin-top:5px;
}
.categoria li h5 {
	margin-top:10px;
	font-size:14px;
}
#contenido p.update {
	border-left:none;
	display:inline;
	font-size:11px;
	margin-bottom:6px;
	padding:0;
}
/* nav index blogs */


.nav_estaticas li {
	background:#fff;
	margin:0 0 0;
}
.cat_opinion .nav_estaticas {
	padding-top:44px;
}
.cat_opinion .nav_estaticas {
}
.nav_estaticas .opinion a {
	background: url(http://estaticos03.elmundo.es/elmundo/iconos/v4.x/v4.01/blogs/categoria/index/opinion.png) no-repeat 0 0;
	height:44px;
	text-indent:-9999px;
}
.nav_estaticas .opinion a:hover {
	background: url(http://estaticos04.elmundo.es/elmundo/iconos/v4.x/v4.01/blogs/categoria/index/opinion_over.png) no-repeat 0 0;
}
/*
.nav_estaticas .gastronomia a{
	background: url(http://estaticos01.elmundo.es/elmundo/iconos/v4.x/v4.01/blogs/categoria/index/gastronomia.png) no-repeat 0 0;
	height:44px;
	text-indent:-9999px;
}

.nav_estaticas .gastronomia a:hover{
	background: url(http://estaticos02.elmundo.es/elmundo/iconos/v4.x/v4.01/blogs/categoria/index/gastronomia_over.png) no-repeat 0 0;
}

*/

/*******************    INDEX BLOGS      *********************/



/********************        BLOGS RELACIONADOS        *******************/


.modulo_blogs {
	margin-top:10px;
	width:300px;
	float:right;
}
.modulo_blogs ul li, .modulo_blogs ul li.first_child {
	background:transparent url(http://estaticos01.elmundo.es/elmundo/iconos/v3.0/bg_debates.png) repeat-x scroll 0 -30px;
	border-color:#EEEEEE;
	border-style:solid;
	border-width:1px 1px 0;
	height:35px;
	margin:1px 0 2px;
	padding:5px 0 5px 63px;
	position:relative;
}
.modulo_blogs p.antetitulo {
	font-size:11px;
	color:#758F1A;
}
.modulo_blogs .autor {
	font-size:11px;
	color:#758F1A;
}
.modulo_blogs p.update {
	border-left:0 none;
	color:#617181;
	font-size:11px;
	font-weight:bold;
	left:5px;
	margin:0;
	position:absolute;
	text-align:left;
	top:5px;
	width:50px;
}
/* herramientas */
.nav_herramientas {
	width:auto!important;
	margin: 0 0 45px;/* border-top:1px solid #D9DADB; */
	padding:5px 0 0;
	font-size:11px;
}
.nav_herramientas li {
	margin:0 4px 0 0;
	display: block;
	overflow: hidden;
}
.nav_herramientas li, .nav_herramientas li a {
	background:none;
	color:#888;
}
.nav_herramientas li {
	font-weight: bold;
	list-style-type: none;
	height:16px;
	margin-bottom:3px;
}
.nav_herramientas a {
	float:left;
	width:130px;
	margin: 0 0 1px;
	padding:0 0 0 22px!important;
	font-weight: normal !important;
}
.nav_herramientas li a:hover {
	text-decoration: none;
	color:#770035;
}
.nav_herramientas li.enviar a {
	background:url(http://estaticos03.elmundo.es/elmundo/iconos/v3.0/b_enviar.png);
}
.nav_herramientas li.imprimir a {
	background:url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/b_imprimir.png);
}
.nav_herramientas li.valorar a {
	background: url(http://estaticos01.elmundo.es/elmundo/iconos/v3.0/b_valorar.png);
}
.nav_herramientas li.movil a {
	background:url(http://estaticos02.elmundo.es/elmundo/iconos/v3.0/b_movil.png);
}
.nav_herramientas li.rectificar a {
	background:url(http://estaticos03.elmundo.es/elmundo/iconos/v3.0/b_rectificar.png);
}
.nav_herramientas li.escuchar a {
	background:url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/b_escuchar.png);
}
.nav_herramientas li.enviar a, .nav_herramientas li.imprimir a, .nav_herramientas li.valorar a, .nav_herramientas li.movil a, .nav_herramientas li.rectificar a, .nav_herramientas li.escuchar a {
	background-repeat: no-repeat;
	text-decoration: none;
	background-position:0 -40px;
}
.nav_herramientas li.enviar a:hover, .nav_herramientas li.imprimir a:hover, .nav_herramientas li.valorar a:hover, .nav_herramientas li.movil a:hover, .nav_herramientas li.rectificar a:hover, .nav_herramientas li.escuchar a:hover {
	background-position:0 0;
	text-decoration: none;
}
/* compartir */
.nav_herramientas li.compartir {
	color:#666666;
	overflow:visible;
	position:relative;
	z-index:2;
}
#contenido_principal .contenido_noticia_02 .compartir h4 {
	border-bottom: none;
	margin:0;
	height:18px;
	padding:2px 0 0 22px!important;
	background:url(http://estaticos03.elmundo.es/elmundo/iconos/v3.0/b_compartir.png) no-repeat 0 -40px;
	color:#888;
	font-weight:normal;
	text-transform:none;
	border:0;
	width:auto!important;
}
.compartir h4:hover, .compartir h4.open {
	color:#770035!important;
	background-position: 0 0!important;
}
.compartir h4.seleccionado {
	background-position: 0 -60px!important;
}
#nav_compartir {
	width:155px;
	position:absolute;
	top:19px;
	z-index:10;
	background:#fff;
	float:left;
	overflow:hidden;
}
#nav_compartir li {
	float:left;
	width:15px;
	padding:2px 3px;
	margin:0 2px 3px 0;
	border:1px solid #e0e0e0;
}
#nav_compartir li a {
	display:block;
	width:15px;
	height:15px;
}
.compartir li.meneame a {
	background: url(http://estaticos02.elmundo.es/elmundo/iconos/v3.0/compartir/meneame.gif) no-repeat top left;
}
.compartir li.delicious a {
	background: url(http://estaticos03.elmundo.es/elmundo/iconos/v3.0/compartir/delicious.gif) no-repeat top left;
}
.compartir li.fresqui a {
	background: url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/compartir/fresqui.gif) no-repeat top left;
}
.compartir li.myspace a {
	background: url(http://estaticos01.elmundo.es/elmundo/iconos/v3.0/compartir/myspace.gif) no-repeat top left;
}
.compartir li.facebook a {
	background: url(http://estaticos02.elmundo.es/elmundo/iconos/v3.0/compartir/facebook.gif) no-repeat top left;
}
.compartir li.twitter a {
	background: url(http://estaticos03.elmundo.es/elmundo/iconos/v3.0/compartir/twitter.gif) no-repeat 0 0;
}
.compartir li.livespaces a {
	background: url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/compartir/livespaces.gif) no-repeat 0 0;
}
.compartir li.google a {
	background: url(http://estaticos01.elmundo.es/elmundo/iconos/v3.0/compartir/google.gif) no-repeat 0 0;
}
.compartir li.technorati a {
	background: url(http://estaticos02.elmundo.es/elmundo/iconos/v3.0/compartir/technorati.gif) no-repeat 0 0;
}
.compartir li.blinklist a {
	background: url(http://estaticos03.elmundo.es/elmundo/iconos/v3.0/compartir/blinklist.gif) no-repeat 0 0;
}
.compartir li.msnreporter a {
	background: url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/compartir/msnreporter.gif) no-repeat 0 0;
}
.modulo_blog .post {
	background:#FFFFFF none repeat scroll 0 0;
	border-bottom:1px dotted #CCCCCC;
	margin-bottom:10px;
	padding:5px;
}
.modulo_blog h5 {
	padding-bottom: 3px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:12px;
}
.modulo_blog .post h6 {
	font-size: 16px;
	line-height: 18px;
	margin:0;
}
.modulo_blog .fecha {
	color:#669900;
	font-size:11px;
	line-height:14px;
	margin-bottom:5px;
}
/*FEED*/
#friendfeed.widget a {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	color:#65879F !important;
	font-weight:bold !important;
	text-decoration:none;
}
#friendfeed.widget {
	border:1px solid #eee !important;
	width:298px !important;
	margin:0 0 10px 0 !important;
}
#friendfeed.widget, #friendfeed.widget div, #friendfeed.widget span, #friendfeed.widget a, #friendfeed.widget img, #friendfeed.widget table, #friendfeed.widget tr, #friendfeed.widget td {
	background-color:#f4f4f4 !important;
}
.archivo .cabecera_blog h2 span {
	font: 24px Georgia, "Times New Roman", Times, serif;
	color: #A7C826;
	font-weight:normal;
	position:absolute;
	top:0px;
	right:0px;
	float:left;
	line-height:normal;
	text-transform:lowercase;
	font-style:italic;
}
.cabecera_blog strong {
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	position:absolute;
	top:18px;
	right:0px;
	line-height:normal;
	color:#3F5974;
}
/**/
#ultimos_posts {
	width:275px;
	clear:both;
	overflow:hidden;
	float:right;
	padding:12px;
	border:1px solid #E0E5E7;
	margin:0 0 10px;
}
#ultimos_posts h5, .modulo_blogs h5 {
	font-family:Georgia, "Times New Roman", Times, serif;
}
#ultimos_posts li.modulo {
	margin-bottom:0;
}
#ultimos_posts .modulo {
	float:left;
	position:relative;
	width:255px;
	margin-left:0;
}
#ultimos_posts h6 {
	font:bold 16px/16px Georgia, "Times New Roman", Times, serif;
	margin:0 0 10px 0;
	text-transform:uppercase;
	width:255px;
	background:#fff url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/bg_modulo_opinion.png) repeat-x left top;
}
#ultimos_posts h6 .despliega {
	background:transparent url(http://estaticos02.elmundo.es/elmundo/iconos/v3.0/acordeon/pico.gif) no-repeat scroll 4px -18px;
	color:#8093A1;
	cursor:pointer;
	display:block;
	height:22px;
	padding:6px 0 0 15px;
	border:1px solid #E0E5E7;
}
#ultimos_posts h6 .despliega.seleccionado {
	background-position:11px 12px;
}
#ultimos_posts h6 a:hover {
	color:#9BBD20;
}
#ultimos_posts .modulo li {
	position:relative;
	padding-bottom:5px;
}
#ultimos_posts .modulo_contenido ol {
	padding:0 0 0 10px;
}
#ultimos_posts .fecha_mes {
	margin-bottom:5px;
	font-size:11px;
	font-weight:bold;
}
#ultimos_posts .fecha_mes span {
	border-bottom: 1px #CCC dotted;
	display:block;
	margin:0 0 5px;
	padding:0 0 3px;
	color:#3F5974;
}
#ultimos_posts .fecha_mes .despliega {
	background:none;
	height:auto;
	padding:0;
}
#ultimos_posts .fecha_mes a {
	border-bottom:none;
	font: 12px/14px Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
#ultimos_posts .fecha_mes ul {
	padding:0;
	margin:0;
}
#ultimos_posts .fecha_mes ul li {
	display:block;
	margin:4px 0;
	padding:0;
}
#ultimos_posts .fecha_mes ul li a {
	font-weight:normal;
	font-size:12px;
	line-height:18px;
	padding:2px 0;
	border-bottom:1px solid #E0E5E7;
	text-transform: none;
}
#ultimos_posts .fecha_mes ul li a:hover {
	color:#9BBD20;
}
/*******************     ARCHIVO      *********************/
#comentarios {
	border-top:3px solid #E0E0E0;
	clear:both;
	margin:10px 0 !important;
}
#blog_anterior {
	width:275px;
	clear:both;
	overflow:hidden;
	float:right;
	padding:12px;
	border:1px solid #E0E5E7;
	margin:0 0 10px;
}
#blog_anterior h5, .modulo_blogs h5 {
	font-family:Georgia, "Times New Roman", Times, serif;margin:0;
}
/**/
#mas_comentados {
	width:275px;
	clear:both;
	overflow:hidden;
	float:right;
	padding:12px;
	border:1px solid #E0E5E7;
	margin:0 0 10px;
}
#mas_comentados h5, .modulo_blogs h5 {
	font-family:Georgia, "Times New Roman", Times, serif;
}
#mas_comentados li.modulo {
	margin-bottom:0;
}
#mas_comentados .modulo {
	float:left;
	position:relative;
	width:255px;
	margin-left:0;
}
#mas_comentados h6 {
	font:bold 16px/16px Georgia, "Times New Roman", Times, serif;
	margin:0 0 10px 0;
	text-transform:uppercase;
	width:255px;
	background:#fff url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/bg_modulo_opinion.png) repeat-x left top;
}
#mas_comentados h6 .despliega {
	background:transparent url(http://estaticos02.elmundo.es/elmundo/iconos/v3.0/acordeon/pico.gif) no-repeat scroll 4px -18px;
	color:#8093A1;
	cursor:pointer;
	display:block;
	height:22px;
	padding:6px 0 0 15px;
	border:1px solid #E0E5E7;
}
#mas_comentados h6 .despliega.seleccionado {
	background-position:11px 12px;
}
#mas_comentados h6 a:hover {
	color:#9BBD20;
}
#mas_comentados .modulo li {
	position:relative;
}
#mas_comentados .modulo_contenido ol {
	padding:0 0 0 10px;
}
#mas_comentados .fecha_mes {
	margin-bottom:5px;
	font-size:11px;
	font-weight:bold;
}
#mas_comentados .fecha_mes span {
	border-bottom: 1px #CCC dotted;
	color:#3F5974;
	display:block;
	margin:0 0 5px;
	padding:0 0 3px;
}
#mas_comentados .fecha_mes .despliega {
	background:none;
	height:auto;
	padding:0;
}
#mas_comentados .fecha_mes a {
	border-bottom:none;
	font: 12px/14px Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
#mas_comentados .fecha_mes ul {
	padding:0;
	margin:0;
}
#mas_comentados .fecha_mes ul li {
	display:block;
	margin:4px 0;
	padding:0;
}
#mas_comentados .fecha_mes ul li a {
	font-weight:normal;
	font-size:12px;
	line-height:18px;
	padding:2px 0;
	border-bottom:1px solid #E0E5E7;
	text-transform: none;
}
#mas_comentados .fecha_mes ul li a:hover {
	color:#9BBD20;
}
/**/
#mas_leidos {
	width:275px;
	clear:both;
	overflow:hidden;
	float:right;
	padding:12px;
	border:1px solid #E0E5E7;
	margin:0 0 10px;
}
#mas_leidos h5, .modulo_blogs h5 {
	font-family:Georgia, "Times New Roman", Times, serif;
}
#mas_leidos li.modulo {
	margin-bottom:0;
}
#mas_leidos .modulo {
	float:left;
	position:relative;
	width:255px;
	margin-left:0;
}
#mas_leidos h6 {
	font:bold 16px/16px Georgia, "Times New Roman", Times, serif;
	margin:0 0 10px 0;
	text-transform:uppercase;
	width:255px;
	background:#fff url(http://estaticos04.elmundo.es/elmundo/iconos/v3.0/bg_modulo_opinion.png) repeat-x left top;
}
#mas_leidos h6 .despliega {
	background:transparent url(http://estaticos02.elmundo.es/elmundo/iconos/v3.0/acordeon/pico.gif) no-repeat scroll 4px -18px;
	color:#8093A1;
	cursor:pointer;
	display:block;
	height:22px;
	padding:6px 0 0 15px;
	border:1px solid #E0E5E7;
}
#mas_leidos h6 .despliega.seleccionado {
	background-position:11px 12px;
}
#mas_leidos h6 a:hover {
	color:#9BBD20;
}
#mas_leidos .modulo li {
	position:relative;
	padding-bottom:5px;
}
#mas_leidos .modulo_contenido ol {
	padding:0 0 0 10px;
}
#mas_leidos .fecha_mes {
	margin-bottom:5px;
	font-size:11px;
	font-weight:bold;
}
#mas_leidos .fecha_mes span {
	border-bottom: 1px #CCC dotted;
	display:block;
	margin:0 0 5px;
	padding:0 0 3px;
	color:#3F5974;
}
#mas_leidos .fecha_mes .despliega {
	background:none;
	height:auto;
	padding:0;
}
#mas_leidos .fecha_mes a {
	border-bottom:none;
	font: 12px/14px Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
#mas_leidos .fecha_mes ul {
	padding:0;
	margin:0;
}
#mas_leidos .fecha_mes ul li {
	display:block;
	margin:4px 0;
	padding:0;
}
#mas_leidos .fecha_mes ul li a {
	font-weight:normal;
	font-size:12px;
	line-height:18px;
	padding:2px 0;
	border-bottom:1px solid #E0E5E7;
	text-transform: none;
}
#mas_leidos .fecha_mes ul li a:hover {
	color:#9BBD20;
}
/**/
#modulo_twitter {
	width:275px;
	clear:both;
	overflow:hidden;
	float:right;
	padding:12px;
	border:1px solid #E0E5E7;
	margin:0 0 10px;
}
.twtr-doc {width:275px!important;}

/*ESTILOS INCLUDE ARCADI*/
.libros_arcadi h4 {
border-top:3px solid #DBD1BF;
clear:both;
color:#B19D78;
font-size:12px;
margin:25px 0 5px;
padding:10px 0 0;
text-transform:uppercase;
width:100%;
}
.libros_arcadi h5 {
-x-system-font:none;
color:#666666;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:12px;
font-size-adjust:none;

font-weight:normal;
line-height:17px;
margin:5px 0;
padding:0;
}
.libros_arcadi h5 a {
}
.libros_arcadi ol, .libros_arcadi ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
overflow:hidden;
padding:0;
}
.libros_arcadi li {
border-top:1px solid #EFEBE2;
clear:both;
float:left;
margin:0 0 5px;
padding:5px 0 0;
width:100%;
}
.libros_arcadi p {
font-family:Georgia,"Times New Roman",Times,serif;
}
.libros_arcadi li p {
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
margin:0;
padding:0 0 10px;
}
.libros_arcadi li a {
-x-system-font:none;
color:#666666;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:12px;
font-size-adjust:none;
font-weight:normal;
line-height:normal;
}
.libros_arcadi li img {
border-color:#F4F4F4 #E0E0E0 #E0E0E0 #F4F4F4;
border-style:solid;
border-width:1px;
display:block;
float:left;
margin:0 15px 0 0;
padding:8px;
width:50px;
}
.libros_arcadi li a em {
-x-system-font:none;
color:#009191;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
font-size-adjust:none;
font-weight:normal;
line-height:normal;
text-transform:uppercase;
}
.libros_arcadi li ul {
float:left;
list-style-image:none;
list-style-position:inside;
list-style-type:disc;
margin:0;
}
.libros_arcadi li ul li {
color:#999999;
list-style-image:none;
list-style-position:inside;
list-style-type:disc;
}
.libros_arcadi li li {
border:0 none;
clear:none;
float:none;
margin:0 !important;
padding:0 !important;
width:auto;
}
.libros_arcadi li li a {
-x-system-font:none;
color:#009191;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
font-size-adjust:none;

font-weight:normal;
line-height:normal;
text-transform:uppercase;
}
.libros_arcadi li li a:hover {
}
.libros_arcadi li ol li {
border-color:#F4F4F4 #E0E0E0 #E0E0E0 #F4F4F4;
border-style:solid;
border-width:1px;
float:left;
margin:0 2px 0 0;
padding:1px 3px;
text-align:center;
width:20px;
}
/*FIN ESTILOS INCLUDE ARCADI*/




#desarrollo_noticia p {margin-bottom:22px;}


/*FIN ESTILOS FACEBOOK Y TWITTER*/
.tweetmeme_share {
font-family:arial;
height:60px;
width:50px;
float:left;
margin-top:10px;
}
.facebook_share {
clear:none !important;
display:block;
float:left !important;
left:50px;
margin-left:7px;
top:0;
width:69px !important;
margin-top:10px;
}

.nav_compartir {
border-bottom:1px dotted #DDDDDD !important;
border-top:1px dotted #DDDDDD !important;
float:left !important;
margin:10px 0;
padding:3px 0 !important;
width:150px !important;
}           
.nav_compartir li a {
display:block !important;
font-weight:bold !important;
height:17px;
margin:0 8px 0 0;
padding:0 !important;
width:17px;
}

#comentarios_lectores_listado ol li h4 {margin-top:0;}


/*********** cabeceras ******************/
/*LA TRINCHERA */
.latrinchera .cabecera_blog h2{text-indent:-9999px;margin:0;background:transparent url(http://estaticos02.elmundo.es/blogs/elmundo/img/latrinchera/trinchera_cab.jpg) no-repeat top left; height:110px; }
.latrinchera .cabecera_blog h2 a{height:110px; }


/*********** cabeceras ******************/
/*NO CONTROLES */
.nocontroles .cabecera_blog h2 {
background:url("http://estaticos04.elmundo.es/blogs/elmundo/img/nocontroles/nocontroles_cab.jpg") no-repeat scroll left top transparent;
height:90px;
margin:0;
text-indent:-9999px;
}
.nocontroles .cabecera_blog h2 a{height:90px;}
/*********** cabeceras ******************/
/*Mientras duermes */
.mientrasduermes .cabecera_blog h2 {
background:url("http://estaticos01.elmundo.es/blogs/elmundo/img/mientrasduermes/mientrasduermes.png") no-repeat scroll left top transparent;
height:70px;
margin:0;
text-indent:-9999px;
}
.mientrasduermes .cabecera_blog h2 a{height:70px;}
/*********** cabeceras ******************/
/*INTRUDERS */
.intruders .cabecera_blog h2 {
background:url("http://estaticos02.elmundo.es/blogs/elmundo/img/intruders/intruders_cab.jpg") no-repeat scroll left top transparent;
height:85px;
margin:0;
text-indent:-9999px;
}
.intruders .cabecera_blog h2 a{height:70px;}
/*********** cabeceras ******************/
/*blogoterraqueo */
.blogoterraqueo .cabecera_blog h2 {
background:url("http://estaticos03.elmundo.es/blogs/elmundo/img/blogoterraqueo/blogoterraqueo_cab.jpg") no-repeat scroll left top transparent;
height:85px;
margin:0;
text-indent:-9999px;
}
.blogoterraqueo .cabecera_blog h2 a{height:70px;}

/*********** cabeceras ******************/
/*postcounty */
.postcounty .cabecera_blog h2 {
background:url("http://estaticos04.elmundo.es/blogs/elmundo/img/post-county/postcounty.jpg") no-repeat scroll left top transparent;
height:85px;
margin:0;
text-indent:-9999px;
}
.postcounty .cabecera_blog h2 a{height:70px;}

#blogs.postcounty .col_02 {margin-top:-80px; margin-left:-10px;} 

/*ellas */
.ellas .cabecera_blog h2 {
background:url("http://estaticos01.elmundo.es/blogs/elmundo/img/ellas/ellas.jpg") no-repeat scroll left top transparent;
height:85px;
margin:0;
text-indent:-9999px;
}
.ellas .cabecera_blog h2 a{height:70px;}

#blogs.ellas .col_02 {margin-top:-80px; margin-left:-10px;} 

/*********** cabeceras ******************/
/*vidaszip */
.vidaszip .cabecera_blog h2 {
background:url("http://estaticos02.elmundo.es/especiales/2009/04/cultura/vidaszip/img/fondo.jpg") no-repeat scroll left top transparent;
height:85px;
margin:0;
text-indent:-9999px;
}
.vidaszip .cabecera_blog h2 a{height:70px;}

#blogs.vidaszip .col_02 {margin-top:-80px; margin-left:-10px;} 

/*ENLACES de INTERES*/
#blogs .elementos_recomendados {
	width: 278px;
	padding: 10px;
	border: 1px solid #EEEEEE;
	background: #F4F4F4;
	position: relative;
}
#blogs .elementos_recomendados h4 {
	width: 278px;
	background: url(none);
	text-indent: 0;
	display: inline;
	top: 0px;
	font: 12px/normal Georgia, "Times New Roman", Times, serif;
	letter-spacing: 0em;
	color: #044364;
	left: 0px;
	text-align: left;
	padding: 0px;
}
#blogs .elementos_recomendados .enlaces_interes li {
	border-bottom: 1px dotted #CCC;
	padding-top: 5px;
	padding-bottom: 3px;
}


/*********************************** NUEVA COLUMNA IZQUIERDA ******************************/
/***** MÓDULOS DE COMPARTIR - REDES SOCIALES, HERRAMIENTAS Y APOYOS - *****/

	.contenido_noticia_02_post .titulo-columna{ border-bottom:1px dotted #CCCCCC;color:#990044;font: 110% Georgia,"Times New Roman",Times,serif;margin-top:0px;margin-bottom:8px;padding:0 0 7px;}
	.contenido_noticia_02_post .compartir{ border:1px dotted #CCC;margin:0 0 10px 0;}
	.contenido_noticia_02_post .compartir.facebook{height:20px;padding:5px;}
	.contenido_noticia_02_post .compartir.twitter{height:20px;padding:5px;}
	.contenido_noticia_02_post .compartir.twitter iframe{width:130px;}
	.contenido_noticia_02_post .compartir.tuenti{padding:0px;}
	.contenido_noticia_02_post .compartir.tuenti a{display:block;width:80px;margin:0; background:transparent;overflow:hidden;}
    .contenido_noticia_02_post .redes{clear:both;float:left;}
	.contenido_noticia_02_post .herramientas{margin-top:5px;clear:both;float:left;}
	.contenido_noticia_02_post .temas-relacionados li{font-size:90%;border-bottom:1px dotted #CCCCCC; padding:4px 0;}
	.contenido_noticia_02_post .apoyos, .contenido_noticia_02_post .temas-relacionados 
	{ clear:both;float:left;margin-bottom:20px; border-bottom:1px dotted #CCCCCC;}
	.contenido_noticia_02_post .apoyos li {background:url("http://estaticos01.elmundo.es/elmundo/iconos/v3.0/bolillos/bolillo.gif") no-repeat 0 4px;}

